/* 
font-family: 'Lato', sans-serif;
font-family: 'Whisper', cursive;
font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Lato', sans-serif;
    background-color: rgb(209, 250, 209);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 1200px;
    margin: 0 auto;
}

p {
    padding: 10px;
    margin: 10px;
}

.montser {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #355738;
    text-decoration: none;
}

button.montser {
    color: white;
}

header {
    display: flex;
    justify-content: space-between; 
    /* justify-content: flex-end; */
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: white;
    font-size: larger;
    font-weight: bold;
}

button {
    padding: 9px 25px;
    color: white;
    background-color: rgba(60, 137, 76, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 40px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:rgba(60, 137, 76, 0.8);
}


button.dropbtn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #355738;
    text-decoration: none;
    background-color: #35573800;
    cursor: pointer;
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}


button.dropbtn:hover {
    color: white;
    font-size: larger;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #355738;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }

.linkrecipe {
    font-size: 14px;
    background-color: transparent;

}

.nav__links .linkrecipe a:hover {
    color:#355738;
}

h1{
    padding: 10px;
    text-align: center;
/*    border: 2px solid lightslategray;
    background-color: white;
    border-radius: 10px;
    */
    margin:40px;
    margin-left: 90px;
    margin-right: 90px;
}

#pageNameHeader {
    font-family: 'Whisper', cursive;
    font-weight: 200;
    font-size: 72px;
    transition: all 0.3s ease 0s;
}

#pageNameHeader:hover {
    font-size: 80px;
    color: rgba(60, 137, 76, 0.8);
    font-weight: bolder;
    cursor:default;
}

span.material-icons {
    background-color: rgba(60, 137, 75, 0);
    color: white;
}


.devNote {
    background-color: white;
    text-indent: 5px;
    text-align: center;
    font-weight: bold;
    color: rgb(60, 137, 76);
}